<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <form>
    <div>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="service.searchTerm"/>
        <!-- <span class="ml-3" *ngIf="service.loading$ | async">Loading...</span> -->
      <span class="ml-3" *ngIf="service.loading$ | async"> 
        <div class="spinner-border text-secondary"></div> 
      </span>
    </div>

    <div class="form-group form-inline">
      <input #cardNo placeholder="Card Number" aria-label="cardNumber" aria-describedby="basic-addon1">
      
      <button (click)="getBorrower(cardNo.value) " ngbDropdownItem > Get Card Number </button>
    </div>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button (click)="logBranch(branch)" ngbDropdownItem *ngFor="let branch of Branches"> 
              <span class="badge"> {{branch.branchName}}</span> </button>
          </div>
        </div>
      </div>
      </div>
<!--     
    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let branch of Branches">
        <span class="badge">{{branch.branchName}}</span>
      </li>
    </ul> -->


    
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="title" (sort)="onSort($event)">Book Title</th>
        <th scope="col" sortable="authorName" (sort)="onSort($event)">Author Name</th>
        <th scope="col" sortable="publisherName" (sort)="onSort($event)">Publisher Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of books$ | async; index as i ">
        <th scope="row">{{ i+1}}</th>
        <td>
          <ngb-highlight [result]="book.title" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="book.author.authorName " [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="book.publisher.publisherName " [term]="service.searchTerm"></ngb-highlight></td>
        <td>
          <button type="button" class="btn btn-info mr-1" (click)="logBookButton(book)" >Checkout book</button>
 
        </td>
      </tr>
      </tbody>
    </table>




    
    <!-- <li *ngFor = "let book of Books">
      <span class="badge">{{book.title}}</span>
    </li> -->
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="5">5 items per page</option>
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="20">20 items per page</option>
      </select>
    </div>
  </div>

  </form>