
<div class="d-flex" style="margin-top: 4em;">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
      <li ngbNavItem="Books">
        <a ngbNavLink >Books</a>
        <ng-template ngbNavContent>
          <p> Books Datatable </p>
            <app-book-table></app-book-table>
        </ng-template>
      </li>

      <li ngbNavItem="BookCopies">
        <a ngbNavLink>BookCopies</a>
        <ng-template ngbNavContent>
          <p> Book Copies </p>
        </ng-template>
      </li>

      <li ngbNavItem="Branches">
        <a ngbNavLink>Branches</a>
        <ng-template ngbNavContent>
          <p> Library Branch Datatable </p>
            <app-branch-table></app-branch-table>
        </ng-template>
      </li>
    </ul>
  
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
