
<h3>List of Library Branches in LMS Application.</h3>
<div class="form-group form-inline">
  Search: <input class="form-control ml-2" type="Text" [(ngModel)]="searchString" (input)="searchBranches()">
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Branch Name</th>
      <th scope="col">Branch Address</th>
      <th scope="col">Update Branch</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of pagedItems | lmsBranchSort ; let i=index">
      <!-- {{a | json}} -->
      <th scope="row">{{i+1}}</th>
      <td>{{a.branchId}}</td>
      <td>{{a.branchName | uppercase}}</td>
      <td>{{a.branchAddress | uppercase}}</td>
      <td><button type="button" class="btn btn-info" (click)="open(editBranchModal, a)">Edit</button></td>
    </tr>
  </tbody>
</table>
<div class="ds-l-row ds-u-margin-top--3">
  <div class="ds-l-col--9">
    <ngb-pagination [collectionSize]="totalBranches" [(page)]="pager.currentPage" [maxSize]="5" [boundaryLinks]="true"
      (pageChange)="setPage($event)"></ngb-pagination>
  </div>
</div>

<ng-template #editBranchModal let-c="close" let-d="dismiss">
  <div class="ds-c-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Number of Copies</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Branch Name:</label>
            <input class="form-control" name="branchName" [(ngModel)]="selectedBranch.branchName"
              value={{selectedBranch.branchName}}>
            <label for="recipient-name" class="col-form-label">Branch Address:</label>
            <input class="form-control" name="branchAddress" [(ngModel)]="selectedBranch.branchAddress"
              value={{selectedBranch.branchAddress}}>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c()">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateBranch()">Save</button>
      </div>
    </div>
  </div>
</ng-template>
