<div class="d-flex" style="margin-top: 4em;">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
    <li ngbNavItem="Books">
      <a ngbNavLink >Books</a>
      <ng-template ngbNavContent>
        <app-book-table></app-book-table>
      </ng-template>
    </li>

    <li ngbNavItem="BookCopies">
      <a ngbNavLink>BookCopies</a>
      <ng-template ngbNavContent>
      </ng-template>
    </li>

    <li ngbNavItem="Publishers">
      <a ngbNavLink>Publishers</a>
      <ng-template ngbNavContent>
        <p> Publishers Datatable </p>
      </ng-template>
    </li>

    <li ngbNavItem="Borrowers">
      <a ngbNavLink>Borrowers</a>
      <ng-template ngbNavContent>
        <p> Borrowers Datatable </p>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="ml-4"></div>
</div>
