



<!-- <h3>List of Books within a library branch in LMS Application as of {{ today | date: shortDate | lowercase  }}. Total number of books: {{ totalBooks }}.</h3>  -->
<button type="button" class="btn btn-primary">Create New Book</button>
<div class="ds-l-row ds-u-margin-top--3">
  <div class="ds-l-col--9">
    <ngb-pagination [collectionSize]="totalBooks" [(page)]="pager.currentPage" [maxSize]="5" [boundaryLinks]="true"
      (pageChange)="setPage($event)"></ngb-pagination>
  </div>
</div>
<div class="ds-l-row ds-u-margin-top--3">
  Search: <input type="Text" [(ngModel)]="searchString" (input)="searchBooks()">
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book Title</th>
      <th scope="col">Author</th>
      <th scope="col">Publisher</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of pagedItems  | lmsSort ; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{a.title | uppercase}}</td>
      <td>{{a.author.authorName | uppercase}}</td>
      <td>{{a.publisher.publisherName | uppercase}}</td>
      <!-- <td><button type="button" class="btn btn-danger" (click)="deleteBook(a)">Delete</button></td> -->
    </tr>
  </tbody>
</table>

